[Desktop Entry]
Type=Application
Name=spotifyre
Exec=/usr/bin/spotifyre
Icon=/usr/share/icons/spotifyre/spotifyre-logo.png
Comment=A music streaming app combining the power of Spotify & YouTube
Terminal=false
Categories=Audio;Music;Player;AudioVideo;
MimeType=x-scheme-handler/spotify;